.register{
    width: 300px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #fff solid 1px;
    border-radius: 10px;
    padding: 20px;
}
.r__heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.r__heading > p{
    font-size: 0.9rem;
    font-weight: bold;
    color: #aaa;
    margin-top: 0;
}
.r__heading > h1{
    margin-bottom: 0;
}
.r__form{
    width: 100%;
}
.r__form > form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.r__form > form > input{
    width: 100%;
    margin-bottom: 15px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #aaa;
    outline: none;
}
.r__form > form > input:focus{
    border: 1px solid rgb(0, 168, 80);
}
.r__btn{
    flex: 1;
    padding: 8px 25px;
    font-size: 1rem;
    align-self: flex-start;
    background-color: rgb(0, 168, 80);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}